.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.people-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
}

.grid-item{
  background-color: #555;
}